body {
  background-color: black;
}
.dash {
  background-color: rgb(0, 0, 0);
  height: auto;
}

.dashinner2 {
  font-size: small;
  /* height: auto; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin-bottom: 15px; */
}

.table1 {
  text-align: left;
}

.table1 button {
  border-radius: 5px;
}

.navbut button {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.scrollable-list {
  max-height: 280px; /* You can adjust the height as per your requirement */
  overflow-y: auto; /* Enable vertical scrolling */
}
.bg-light-blue {
  background-color: #172b3d;
  color: #fff;
}

.bg-dark-blue {
  background-color: #060606;
  color: #fff;
}

.home-div{
  display:grid;
  place-content: center;
}

.home-numbers{
  display:grid;
  place-content: center;
}

.bg-color-feedbackform{
  /* background: linear-gradient(45deg,#94ea83,#6c58f1); */
  background: linear-gradient(45deg,#a8c2ed,#d7f9f8)
}

.feedback-placeholder::placeholder{
  color:#888;
  font-weight: lighter;
}

.btn-feedback-form{
  border:none;
  color:white;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}