
body{
  background-color: black;
}
.dash {
  background-color: rgb(0, 0, 0);
  height: auto  ;
}

.dashinner2 {
  font-size: small;
  /* height: auto; */
  font-family: Arial, Helvetica, sans-serif;
  /* margin-bottom: 15px; */
}

.table1{
  text-align: left;
}

.table1 td{
  padding-right: 25px;
}

.navbut button{
    background-color: #6C757D; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

.scrollable-list {
  max-height: 280px;/* You can adjust the height as per your requirement */
  overflow-y: auto; /* Enable vertical scrolling */
}
.bg-light-blue {
  background-color: #172b3d;
  color: #fff;
}

.bg-dark-blue {
  background-color: #060606; 
  color: #fff; 
}


